@charset "UTF-8";

body
{


  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, geneva, sans-serif;

}

#titlebar
{
  color:#000000;
  background-color:#ffab01;
  height:130px;
  margin:5px;

  padding:7px;
}
  #table3box
  {
    width:100%;
    border:2px solid #FFFF00;

  }
  th
  {

    text-align: center;
    font-size:35px;
    padding:5px;
  }